<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate @users, next_label: ">", previous_label: "<" %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate @users, next_label: ">", previous_label: "<" %>